<footer id="footer"class="footer">
    <div class="container">
        <h3>CONTACT US</h3>
        <div class="contact-info">
            <a href="https://wa.me/1234567890" target="_blank" class="social-link"><i class="fab fa-whatsapp"></i></a>
            <a href="https://instagram.com/yourprofile" target="_blank" class="social-link"><i class="fab fa-instagram"></i></a>
            <a href="mailto:info@example.com" class="social-link"><i class="fas fa-envelope"></i></a>
            <a href="tel:+1234567890" class="social-link"><i class="fas fa-phone"></i></a>
        </div>
        <p> Blood Donation Management System. &copy; 2024 All rights reserved.</p>
    </div>
</footer>
