    <!-- Header Section -->
    <header class="header">
        <div class="container">
            
            <nav class="navbar">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="#about-us">About</a></li>
                    <li><a href="/#footer">Contact</a></li>
                    <li><a href="#">Documentation</a></li>
                </ul>
            </nav>
        </div>
    </header>